.h1style h1 {
  background-image: url('../images/HD-wallpaper-summer-vacation-beach-vacation-sunshine-sky-sea-blue.jpg');
  object-fit: cover;
	background-repeat: no-repeat;
  height: 400px;
  width: 800px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: -100px;
  margin-left: 50px;
}

.h1style h1:before, .h1style h1:after {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.h1style h1:after {
  left: unset;
  right: 0;
}

#filterFlights {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #fffffffd;
  color: rgba(0, 0, 0, 0.867);
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}

#filterFlights:hover {
  background-color: #0024f2;
}


#from, #dest {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f8f8f8;
  font-size: 16px;
  outline: none;
}

table.flights-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table.flights-table thead {
  background-color: #2e76eafd;
  text-align: center;
  color: #fffbfb;
  font-weight: bold;
}

table.flights-table th,
table.flights-table td {
  padding: 12px;
  border: 1px solid #ddd;
}

table.flights-table tbody tr:nth-child(even) {
  background-color: #a7dff55b;
}

table.flights-table tbody tr:hover {
  background-color: #ddd;
  cursor: pointer;
}
