:root {
	--primary-color: #0004ff;
	--secondary-color: #4b91c9;
  }
  
  body {
	background: linear-gradient(to bottom, #bdd7e6, #82a8d9);
	color: #444;
	font-family: 'latoregular', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
  }
  
  a {
	color: var(--primary-color);
	text-decoration: none;
	transition: color 0.3s ease;
  }
  
  a:hover {
	color: var(--secondary-color);
  }
  
  #header {
	background-color: #f8f8f8;
	text-align: center;
	padding: 20px 0;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  #header h1 {
	font-size: 48px;
	font-weight: bold;
	margin: 0;
	color: var(--primary-color);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #header h1 a:hover {
	color:greenyellow;
  }
  
  #header h1 a span {
	color: #b2d6cc;
	display: block;
	font-family: 'nixie_oneregular';
	font-size: 24px;
	text-transform: uppercase;
  }

#header ul#navigation {
	list-style: none;
	padding: 0;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 30px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	display: flex;
	justify-content: center;
  }
  
  #header ul#navigation li {
	margin: 0;
	padding: 0;
  }
  
  #header ul#navigation li a {
	color: var(--primary-color);
	font-size: 18px;
	text-transform: uppercase;
	transition: color 0.3s ease;
	padding: 15px 20px;
	display: block;
  }
  
  #header ul#navigation li a:hover {
	color: var(--secondary-color);
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 8px;
  }
  
  #header ul#navigation li.current a {
	color: orange;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 8px;
  }
  
  #body {
	background: rgba(255, 255, 255, 0.9);
	max-width: 960px;
	margin: 0 auto;
	padding: 30px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #body > h2 {
	color: var(--primary-color);
	font-family: 'nixie_oneregular';
	font-size: 28px;
	font-weight: normal;
	margin: 0;
	padding-bottom: 20px;
	border-bottom: 2px solid var(--primary-color);
  }
  

#body div.content {
	overflow: hidden;
	margin-top: 20px;
  }
  
  #body div.content > div {
	float: left;
	width: 100%;
  }
  
  #body div.content h3,
  #body form h3,
  #body ul.blog li h3 {
	font-family: 'nixie_oneregular';
	font-size: 20px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding-top: 20px;
  }
  
  #body div.content img.figure {
	margin: 0 0 20px;
  }
  
  #body div.content div div.section {
	padding: 30px 0 0;
	width: 100%;
  }
  
  #body div.content div ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
  }
  
  #body div.content div ul li {
	float: left;
	margin: 0 0 20px;
	width: 100%;
  }
  
  #body div.content div ul li img {
	display: block;
	max-width: 100%;
	width: auto;
  }
  
  #body div.content div ul li h4 {
	font-family: 'nixie_oneregular';
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding-top: 10px;
	text-align: center;
  }

#body form {
	margin: 25px auto;
	overflow: hidden;
	width: 90%;
	background: #a7c9ed;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #body form label {
	display: block;
	margin-bottom: 8px;
	font-size: 16px;
	color: var(--primary-color);
	font-weight: bold;
  }
  
  #body form input[type="text"],
  #body form input[type="date"],
  #body form input[type="number"],
  #body form select,
  #body form option {
	width: 90%;
	padding: 10px;
	border: 1px solid #b6d8cf;
	border-radius: 4px;
	background-color: #f2f2f2;
	color: #333;
	font-size: 16px;
	margin-bottom: 15px;
  }

  #body form input[type="submit"] {
	background: var(--primary-color);
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
  }
  
  #body form input[type="submit"]:hover {
	background: var(--secondary-color);
  }
  
  #message {
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
	color:red;
	font-weight: bold;
  }

#footer {
	text-align: center;
	padding: 20px 0;
	color: #ffffff;
	font-size: 12px;
  }
  
  #footer div span {
	color: rgb(0, 0, 0);
	font-size: 26px;
  }
